
.logo-style{
    width: 140px;
}

.nav-item{
    font-size: 20px;
    color: black;
    font-weight: bold;
    margin-right: 10px;
}
.nav-link:hover{
    background-color: white;
    color:blue;
    border-radius:5px;
    transition: all 0.5s ease;
}
.nav-item.active{
    color:aqua;
    background-color: white;
     border-radius: 5px;
}


.home-content-cont{
    margin-top: 40px;
    text-align: center;

}
.title-card{
     padding:20px;
     margin-bottom:20px;

}
@media screen and (max-width: 768px){
    .title-card{
        font-size: 20px;
    }

}

.title-card:hover{
    background-color:black;
    color:aqua;
    border-radius:50px;
    padding:20px;
    transition: all 0.5s ease;
}
.home-para-style{
    font-size: 20px;
     color:black;
  
     margin-bottom: 20px;
     text-align:justify;
}

.prod-head-style{
    font-size: 30px;

}
.prod-head-style:hover{
    color:rgb(182, 5, 102);
    font-size: 40px;
    text-decoration: underline;
    transition: all 0.5s ease;

}
.footer-div{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 50px;
}