

.logo-style{
    width: 140px;
}

.nav-item{
    font-size: 20px;
    color: black;
    font-weight: bold;
    margin-right: 10px;
}
.nav-link:hover{
    background-color: white;
    color:blue;
    border-radius:5px;
    transition: all 0.5s ease;
}
.nav-item.active{
    color:aqua;
    background-color: white;
     border-radius: 5px;
}

.brand-name {
    color: red;
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
}


.home-content-cont{
    margin-top: 40px;
    text-align: center;

}
.title-card{
     padding:20px;
     margin-bottom:20px;

}
@media screen and (max-width: 768px){
    .title-card{
        font-size: 20px;
    }

}

.title-card:hover{
    background-color:black;
    color:aqua;
    border-radius:50px;
    padding:20px;
    transition: all 0.5s ease;
}
.home-para-style{
    font-size: 20px;
     color:black;
  
     margin-bottom: 20px;
     text-align:justify;
}
.title-card-effect{
    color:rgb(255, 66, 45);
}
.title-card-effect:hover{
    background-color:rgb(200, 255, 0);
    border-radius:7px;
    transition: all 0.5s ease;
    padding:3px;
}


.prod-head-style{
    font-size: 30px;

}
.prod-head-style:hover{
    color:rgb(182, 5, 102);
    font-size: 40px;
    text-decoration: underline;
    transition: all 0.5s ease;

}
.footer-div{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 50px;
}
.login-form{
    background-color:white;
    padding:20px;
    margin-top: 50px;
    border:1px solid black;
    border-radius: 10px;
    box-shadow: 12px 20px 20px rgba(207, 0, 0, 0.15);
   
}
.login-cont{
   
width:80%;
margin:auto;
transition:transform 0.3s ease;

}
.login-cont:hover{
    transform :scale(1.1);
}



.electronic-prod-img-cont{
    background-color:white;
    border-radius: 12px;
    text-align: center;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
    margin-bottom: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.electronic-prod-img-cont:hover {
    transform: translateY(-8px); 
    box-shadow: 10px 10px 20px rgba(0,0,0,0.25);
}

.electronic-prod-img{
    width:90%;
     border:1px solid red;
     margin-bottom:20px;

}
.electronics-bg{
    background-image: url("Futuristic-Electronics.gif");
    
}
.fashion-bg{
    background-image: url("fashion-bg.gif");
    background-size: cover;
}

.groceries-bg{
    background-image: url("grocery-bg.gif");
   
}

.cart-count{
    z-index:99;
    position:absolute;
    color:black;
}

.cart{
    position: fixed;
    top:0;
    right:-100%;
    width:30%;
    height:100%;
    background-color:rgb(59, 188, 243);
    border-width:1px solid black;
    overflow-y:auto;
    overflow-x:hidden;
    padding:20px;
    border-radius: 10px;
    z-index:100;
    color:black;


}
.cart-active{
    right:0;
    transition:0.5s ;
}

#close-icon{
    position:absolute;
    top:10px;
    right:10px;
    font-size: 25px;
    color:rgb(0, 0, 0);
    border:0px;
    background-color:transparent;
}

.cart-box{
    display: grid;
    grid-template-columns: 40% 30% 30%;
    gap:1rem;
    align-items: center;
    margin-top:10px;
    padding:5px 10px 12px 12px;
    border-bottom: 1.5px solid black;
    color:blueviolet;
}
.cart-img{
    width:75px;
    height:75px;
    border-radius: 10%;
}
.cart-price{
     font-size: 15px;
     color:black;
}
.cart-amt{
    font-size: 15px;
     color:rgb(249, 249, 249);
}
.cart-quantity{
    width:2.4rem;
    outline: none;
    text-align: center;
    font-size: 1rem;

}

.total{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}